/** @format */
//colors
$COLOR_PRIMARY: #0074b7;

$COLOR_SECONDARY: #bfd7ed;

$COLOR_TEXT: #333333;

$COLOR_BG: #b7c9eb;

$COLOR_RED: #fb5817;

$COLOR_BLACK: #999999;

$BG_COLOR: hsl(0, 0%, 100%);
//fonts
$HEAD-FONT: "Lato", sans-serif;

$primary_font: "Roboto", sans-serif;

$BG_sectoion1: #dfdbe5;

$BACKG_COLOR: #fcfaff;
